---
export interface Props {
  tag: string;
  tagName: string;
}

const { tag, tagName } = Astro.props;
---

<a
  href={`/tags/${tag}/`}
  class="text-sm underline decoration-dashed underline-offset-4 hover:text-accent"
>
  {tagName}
</a>